.button-store /* Botão principal (CTA). No próximo seletor está a variação desse botão. */ {
    display: inline-block;
    box-sizing: border-box;
    background-color: #252c41;
    font-size: 20px;
    color: #fff;
    font-family: Arial, "Roboto", sans-serif;
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button-store:hover {
    background-color: #fff;
    color: #252c41;

}

/* Seletor de tag e. (button-store e -second quando tem duas classes juntas em um mesmo elemento. Declarando um seletor de classe desse jeito, estou dizendo que precisa ter essas duas classes em um mesmo elemento.) Veja variação no CSS(005). Que é caso do nosso botão "adicionar no carrinho." 
Variando a classe buttons-store */ 
.button-store.-second  {
    background-color: transparent;
    border: 2px solid #FFF;
    width: 218px;
    line-height: 56px;
    margin-right: 38px;
}

.button-store.-second:hover  {
   background-color: #252c41;
   color: #e24647;
}

.button-store > button, 
.button-store > a {
    font-size: inherit;
    background-color: inherit;
    border: none;
    color: inherit;
    text-decoration: inherit;
}