.button-store /* Botão principal (CTA). No próximo seletor está a variação desse botão. */ {
    display: inline-block;
    box-sizing: border-box;
    background-color: #252c41;
    font-size: 20px;
    color: #fff;
    font-family: Arial, "Roboto", sans-serif;
    width: 200px;
    height: 60px;
    line-height: 60px;
    margin-right: 0;
    text-align: center;
    text-decoration: none;
    border: none;
}

.button-store.-second /* Seletor de tag e. (button-store e -second) Veja variação no CSS(005). As classes estão juntas porque eu quero mudar um elemento que tem essas duas classes juntas. Que é caso do nosso botão "adicionar no carrinho." */ {
    color: #FFF;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #FFF;
    width: 218px;
    height: 60px;
    line-height: 56px;
}